#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.photograph-info img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.mediaDisplay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.mediaCard{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 40px
}

.mediaCard--img{
    height: 85%;
    width: 100%;
}

.mediaCard--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mediaCard--img video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mediaCard--info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 450px;
    margin-top: 20px;
}

.mediaCard--info--titre{
    height: 100%;
    width: 90%;
    font-size: 25px;
    color: #5d0b0b;
    font-weight: lighter;
}
